.small-box{
    margin: auto;
    width: 30%;
    
}
.checkAlert{
    float: right;
    padding: 5px;
}
.userName{
    width: 100%;
    
}
.label{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.showPass{
    width: 5%;
    float: right;
    
}
.inputPass{
    width: 90%;
    float: left;
}
.Password{
    width: 100%;
    
}
// .buttonUnderForm{
//     text-align: center;
//     position: static;
// }
    
    